{{!-- Maybe add horizontal nav and breadcrumbs here --}}

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <!-- <ol class="breadcrumb pull-left">
        <li>
          <a href="/">Back to Persona List</a>
        </li>
        <li class="active">
          <strong>Persona Card:
            <b>{{ persona.name }}</b>
          </strong>
        </li>
      </ol> -->
      <!-- <button onclick="location.href='/persona/{{persona._id}}/details'" class="btn btn-default pull-right" type="button">Change to details view</button> -->
    </div>
  </div>
  <!-- breadcrumb row -->

  <div class="row">
    <p class="pull-right large-margin" style="margin-right: 16px">
      <button onclick="location.href='/persona/{{persona._id}}/details'" class="btn btn-default" type="button">Change to Details View</button>
      <button onclick="location.href='/persona/{{persona._id}}/edit'" class="btn btn-default" type="button">
        <i class="pficon pficon-edit"></i>
        Edit
      </button>
    </p>

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="pg-persona--card large-margin">

        <div>
          <h4 class="pull-left">{{persona.name}}</h4>
          <h4 class="pull-right" style="font-weight: 400">{{persona.jobTitle}}</h4>
        </div>

        <div class="pg-id--card">
          <span class="pg-id__avatar">
              <img src={{persona.photo}} alt="https://raw.githubusercontent.com/haley666/testPersonae/master/data/avatars/default.png">
          </span>
          {{#if persona.quote}}
            <span class="pg-quote--card">
              "{{persona.quote}}"
            </span>
          {{/if}}
        </div>

        {{#if persona.backgrounds}}
          <div>
            <h4 class="title">Background</h4>
            <div>{{persona.backgrounds}}</div>
          </div>
        {{/if}}

        {{#if persona.keysToSuccess.[0]}}
          <div>
            <h4 class="title">Keys to Success</h4>
            <ul>
              {{#each persona.keysToSuccess}}
                {{#if this}}
                  <li>{{this}}</li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if persona.dangers.[0]}}
          <div>
            <h4 class="title">Dangers</h4>
            <ul>
              {{#each persona.dangers}}
                {{#if this}}
                  <li>{{this}}</li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if persona.dayInTheLife.summary.[0]}}
          <div>
            <h4 class="title">A day in life</h4>
            <ul>
              {{#each persona.dayInTheLife.summary}}
                {{#if this}}
                  <div class="pg-day__summary">
                    <li>{{this}}</li>
                  </div>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if persona.skills.[0].name}}
          <div>
            <h4 class="title">Skills & Tools</h4>
            <p class="help-block" style="margin-bottom: 10px">"1" represents low-level, "2" represents medium-level and "3" represents high-level.</p>
            <ul>
              {{#each persona.skills}}
                {{#if this.name}}
                  <div class="pg-skill">
                    <div class="pg-skill__title pg-skill__value">
                      <li><b>{{this.name}}:</b> {{this.rating}}</li>
                    </div>
                  </div>
                {{/if}}
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{#if persona.network.[0]}}
          <div>
            <h4 class="title">Networks</h4>
            {{#each persona.network}}
              {{#if this}}
                <li><b>persona with id:</b> {{this}}</li>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}



      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
